html {
	font-family: Arial;
}
body {
	margin: 0;
}
nav > ul {
	list-style: none;
	padding: 2px 0;
	background-color: navy;
	color: white;
	margin: 0;
}
nav > ul > li {
	display: inline-block;
	margin-left: 20px;
}
nav > ul > li > a {
	text-decoration: none;
	color: white;
}
nav {
}
main {
	padding: 10px;
}
form > input, form > textarea, form > select {
	display: block;
	width: 200px;
	margin-bottom: 10px;
}
input[type~=submit] {
	background-color: navy;
	border: 0;
	border-radius: 3px;
	color: white;
}
table > tbody > tr > th {
	background-color: navy;
	color: white;
}
table > tbody > tr > td {
	padding-left: 15px;
	padding-top: 3px;
}
table > tbody > tr > td > a {
	text-decoration: none;
	display: inline-block;
	padding-right: 20px;
}
table > tbody > tr > td > a:last-of-type {
	padding-right: 0px;
}
table {
	background-color: #ffd;
}
div.field-display {
	margin-bottom: 15px;
}
div.field-display > span {
	font-weight: bold;
	display: inline-block;
	width: 140px;
}